# Only accessible from the server component or function
BACKEND_API_URL=YOUR_BACKEND_API_URL

# Accessible from the client and server component or function
NEXT_PUBLIC_BACKEND_API_URL=YOUR_BACKEND_API_URL
